<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.mvlikhachev.stopdrink">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.FriendProfileActivity"></activity>
        <activity android:name=".Activities.FriendsActivity" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3120800894638034~4236832792" />

        <activity
            android:name=".Activities.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LoginSignUpActivity"
            android:label="Вход"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="Я Не Пью!"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="Профиль" />
    </application>

</manifest>